.DS_Store
.env
.env.*
!.env.example
*.log
node_modules/
dist/
__pycache__/
*.class
shell-scripting/system-report/
/kubernetes-ingress-configmaps-secrets/tls.key
/kubernetes-ingress-configmaps-secrets/tls.crt
